@import "fonts";

.weather-sounds-app {
  background-color: #1e1f22;

  .weather-sounds-content {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);

    h1 {
      text-align: center;
      color: coral;
      font-size: 72px;
      text-shadow: #331910 0 0 5px;
    }

    .weather-sounds {
      display: flex;

      .weather-sound-item {
        cursor: pointer;
        background-position: center;
        background-size: cover;
        border-radius: 2em;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 165px;
        width: 165px;
        margin: 0 .5em;
        transition: .33s all;
        user-select: none;

        &:hover {
          transform: scale(1.1);
        }

        [data-weather-pause] {
          display: none;
        }


        &.active {
          border: 3px solid coral;

          [data-weather-icon] {
            display: none;
          }

          [data-weather-pause] {
            display: block;
          }
        }
      }
    }

    .control-panel {
      margin-top: 1em;
    }
  }

}